.root {
  flex: 2;
  border: 1px black solid;
  color: white;
}
.flexrow {
  /* width: 100%;
  display: flex;
  flex-direction: row; */
}

h2 {
  text-align: left;

}
.carsContainer {
  padding: 10px;
}

.carsWrapper {
  width:100%;
  display: flex;
  flex-direction: row;
}

.addCard {
  height: 100%;
}

.cardPlaceholder {
  width: 80%;
}