.root {
  flex: 0.8;
  color: white;
  margin-top: 140px;
}

/* .flexrow {
  width: 100%;
  display: flex;
  flex-direction: row;
} */

h2 {
  text-align: left;
}
.carsContainer {
  padding: 10px;
}

.carsWrapper {
  width: 100%;
  display: flex;
  flex-direction: row;
}

.addCard {
  height: 100%;
}

.cardPlaceholder {
  width: 80%;
}
